/* Стилизация кнопки */

.button {
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Roboto';
    padding: 15px 63px;
    border: none;
    cursor: pointer;
    color: var(--white);
    transition: opacity 200ms ease-in-out,
                background 200ms ease-in-out,
                border 200ms ease-in-out;
}

.button:disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.5;
}

.button_primary {
    background-color: var(--primary);
}

.button_primary:hover {
    background-color: var(--blue-1);
}

.button_secondary {
    background-color: var(--secondary);
}

.button_secondary:hover {
    background-color: var(--purple-1);
}

.button_alternate {
    background-color: var(--white);
    color: var(--grey-4);
    border: 1px solid var(--grey-3)
}

.button_alternate:hover {
    background-color: var(--white);
    color: var(--grey-4);
    border: 1px solid var(--black)
}