/* Стилизация аккордеона */
.accordion {
    font-weight: 400;
    font-size: 1rem;
    border: 1px solid var(--grey-3);
    padding: 24px 32px;
    border-radius: 8px;
    max-width: 664px;
}

.accordion__summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    color: var(--black);
}

.accordion__summary::-webkit-details-marker {
    display: none;
}

.accordion__arrow {
    width: 18px;
    height: 10px;
    color: var(--grey-4);
}

.accordion[open] .accordion__arrow {
    transform: rotate(180deg);
}

.accordion__hidden {
    color: var(--grey-4);
    margin: 16px 0 8px 0;
}