.avatar {
    width: 160px;
    height: 160px;
    border-radius: 100%;
    overflow: hidden;
}

.avatar__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

@media (max-width: 768px) {
    .avatar {
        width: 110px;
        height: 110px;
    }
}