.container {
    max-width: 1110px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.container_template {
    display: grid;
    grid-template-columns: 229px 1fr;
    gap: 56px;
}

@media (max-width: 768px) {
    .container_template {
        grid-template-columns: 1fr;
    }
}