.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
}

.footer_white {
    background-color: var(--white);
}

.footer__about {
    margin: 72px 0;
}

@media (max-width: 576px) {
    .footer {
        display: none;
    }
}