.page-component {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-row-gap: 67px;
    background-color: var(--white-2);
}

.title {
    font-family: 'Inter';
    font-size: 50px;
    font-weight: 500;
    margin: 0 auto;
    max-width: 1100px;
    padding: 40px 0;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}