.page-component {
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: var(--white-2);
    width: 100%;
    height: 100%;
    overflow: auto;
}

.page-component__title {
    font-family: 'Inter';
    font-size: 50px;
    font-weight: 500;
    max-width: 1100px;
}

.page-component__title_white {
    background-color: var(--white);
}

.page-component__cards {
    max-width: 1110px;
    width: 100%;
    margin: 68px auto;

    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

@media (max-width: 1142px) {
    .page-component__cards {
        max-width: 730px;
    }
}

@media (max-width: 768px) {
    .page-component {
        grid-template-rows: auto 1fr;
        height: 100%;
    }

    .page-component__cards {
        max-width: 552px;
        margin: 22px auto;
    }

    .page-component__title {
        font-size: 28px;
        line-height: 38px;
        max-width: 288px
    }
}

@media (max-width: 552px) {
    .page-component__cards {
        max-width: 358px;
    }
}